:root {
    --border-color: rgb(59, 53, 56);
    --dialogue-background: rgb(185, 179, 181);

    --menu-background: rgb(246, 191, 215);
    --menu-border-color: #0000ff;
    --menu-font-color: #0000ff;
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}


body {
    background-color: #222020;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 350px;
    height: 256px;
    margin: 0 auto;
    outline: 1px solid var(--menu-border-color);

    transform: scale(2.2) translateY(50%);
    background-color: var(--menu-border-color);
}

.game-container canvas {
    image-rendering: pixelated;
}